@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@layer base {
	html {
		font-family: 'Roboto', sans-serif;
	}

	.custom-bg {
		background: linear-gradient(180deg, rgba(238, 174, 202, 0.7077205882352942) 0%, rgba(232, 175, 204, 0.639093137254902) 0%, rgba(222, 177, 207, 0.5354516806722689) 15%, rgba(200, 180, 215, 0.5494572829131652) 33%, rgba(185, 182, 220, 0.6727065826330532) 58%, rgba(15, 23, 42, 0) 100%);
	}

	.custom-bg-drk {
		background: linear-gradient(180deg, rgba(238, 174, 202, 0.7077205882352942) 0%, rgba(232, 175, 204, 0.5858718487394958) 0%, rgba(222, 177, 207, 0.4990371148459384) 25%, rgba(185, 182, 220, 0.28335084033613445) 59%, rgba(15, 23, 42, 0) 100%);
	}
}
